@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;0,600;0,700;1,400&display=swap');

:root{
    --main-color:#ffffff;
    --secondary-color:#fed943;
    --dark-color:#000000;
    --btn-color : #2f80ed;

    --main-font:'Rubik', sans-serif;
    --title-font-size:40px;
    --subtitle-font-size:30px;
    --text-font-size:13px;
    --navlink-font-size:18px;
    --title-card-font-size:20px;
    --subtitle-card-font-size:18px;

    --text-shadow:0px 4px 4px rgba(0,0,0,0.42);
    --skills-shadow : 0px 4px 36px rgba(0, 0, 0, 0.36);
    --cards-shadow :0px 4px 24px rgba(0, 0, 0, 0.16);
    --btn-shadow:0px 4px 16px rgba(0, 0, 0, 0.46);
    --menu-shadow:0px 2px 2px rgba(35, 31, 32, 0.36);
    --socialI-shadow: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.60));

    --radius : 8px;
    --spacing :8px;
    --spacing-2:calc(var(--spacing)*2);
    --spacing-3:calc(var(--spacing)*3);
    --spacing-4:calc(var(--spacing)*4);

}

body{
    margin-top: 70px;
    height: 100vh;
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

span{
    color:var(--secondary-color);
    font-weight: 800;
}

.logo{
    font-size: 24px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(var(--spacing-2)*1.3) calc(var(--spacing)*6) ;
    height: 70px;
    box-shadow: var(--menu-shadow);
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--main-color);
    
}

.nav-list{
    display: flex;
    list-style:none;
}

.nav-list-item{
    font-size: var(--navlink-font-size);
    margin-right: calc(var(--spacing) + 2px);
}

.nav-link{
    text-decoration:none;
    color: var(--dark-color);
    padding: calc(var(--spacing) + 2px);

}

.nav-link:hover{
    color:var(--secondary-color);
    background-color: var(--dark-color);
    box-shadow: var(--btn-shadow);
}

.hamburger-menu{
    width: 35px;
    display: none;
    z-index: 2;
}
section{
    height: 900px;
}

 .hero-section {
     background-image: url(./images/website-hero-section.png);
     height: 900px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align:center;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
     /* background-attachment: fixed; */
     background-color: var(--secondary-color);
     width: 100%;

 }

 .subtitle{
    letter-spacing: 1px;
    font-size: clamp(0.875rem, 0.7574rem + 0.9412vw, 1.875rem);
     
    
    font-family: var(--main-font);
    text-transform: uppercase;
 }

 .main-title{
    font-weight: 700;
  
    font-style: normal;
    margin-top: calc(var(--spacing-2) + 2px);
    font-size: clamp(1.5rem, 1.3824rem + 0.9412vw, 2.5rem);
    padding: var(--spacing);
 }

 .hero-section>button:nth-child(3) {
     
     margin-top: calc(var(--spacing-2) + 2px);

 }

 .button-container{
    display: flex;
    justify-content: space-between;
 }
 button{
    max-width: 179px;
    height: 53px;
    border-radius: var(--radius);
    background-color: var(--btn-color);
    color: var(--main-color);
    margin: calc(var(--spacing-2) + 2px) calc(var(--spacing-3) + 1px) 0px calc(var(--spacing-3) + 1px);
    padding: var(--spacing-2);
    box-shadow: var(--btn-shadow);
    border: 2px solid var(--btn-color);
 }

 button:hover{
   background-color: #666762;
    border:2px solid #66676d;
    border-radius: var(--radius);
 }

 button:active{
    background-color: #666762;
    border: 2px solid #66676d;
     border-radius: var(--radius);
 }

 .typewrite{
    position: relative;
 }

 /*Cursor*/
 .typewrite::after{
    content: '';
    width: 1px;
    border-right:2px solid black;
    height: 100%;
    margin-left: var(--spacing);
    animation: blink 1s infinite;
 }

 @keyframes blink {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
 }
 /*End cursor rules*/

 .z-index{
    z-index: -2;
 }

.txt{
    color: var(--dark-color);
}

.social-icons-container{
    display: flex;
        flex-direction: column;
        position: absolute;
        right: 60px;
        gap: var(--spacing-2);
        left: 88.2%;
            right: 9.38%;
            top: 32%;
            bottom: 50%;
           
}



.social-icons:hover{


    filter:var(--socialI-shadow);

}

/*About me section*/

h2{
    text-align: center;
    font-family: var(--main-font);
        font-size: var(--title-font-size);
        text-transform: uppercase;
        padding: calc(var(--spacing)*10) 0;
        text-shadow: var(--text-shadow);
}

.about-me-container{
    display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 60px;
}

.about-me-content{
    display: flex;
  
        flex-direction: column;
        justify-content: center;
       max-width: 32%;
       min-width: 250px;
}

.about-me-content>p:nth-child(2) {
    margin-top: 17px;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0.278em;
}

.about-me-content>p:nth-child(3) {
    margin-top: 17px;
    /*! margin-bottom: 1px; */
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.1em;
}

h3{
    font-size: 25px;
}

.effect2{
    box-shadow:
            2.8px 2.8px 2.2px rgba(0, 0, 0, 0.034),
            2.8px 6.7px 5.3px rgba(0, 0, 0, 0.048),
            2.8px 12.5px 10px rgba(0, 0, 0, 0.06),
            2.8px  22.3px 17.9px rgba(0, 0, 0, 0.072),
            2.8px 41.8px 33.4px rgba(0, 0, 0, 0.086),
            2.8px 100px 80px rgba(0, 0, 0, 0.12);
        transform: rotate(-3deg);
}

.sdp-picture{
    border-radius: var(--radius);
}

 /*Règles responsive*/

 @media screen and (max-width:840px){
    .about-me-container{
        flex-direction: column;
    }

    .effect2{
        transform: none;
        padding: var(--spacing-3);
    }

        .sdp-picture {
        max-width: 100%;
            width: 550px;
            padding: var(--spacing-2);
            margin: 0 auto;
        }

        .about-me-content{
            margin: 0 auto;
        max-width: 100%;
            padding: var(--spacing-3);
        }

 }

@media screen and (max-width:800px) {
    .hamburger-menu{
        display: block;
        z-index: 0;
    }
    .nav-list-item{
   display: flex;
   justify-content: center;
   margin: 0;
      
    }

    .nav-list{
        position: absolute;
        flex-direction: column;
        background-color: var(--secondary-color);
        width: 100%;
        top: 0;
        left: 0;
        height: 100vh;
        justify-content: center;
        margin-left: -100%;
        transition: all 0.5s ease;
        
    }

        .nav-list.mobile-menu {
            margin-left: 0;
    
        }

   nav{
    width: 100%;
   }
   
   .hero-section{
  background-image: none;
  background-color: var(--secondary-color);
   }

   .social-icons-container{
    flex-direction: row;
    position: inherit;
    margin: var(--spacing-4);
   }

img{
    width: 35px;
}
  
}


@media  screen and (max-width:600px) {
    .sdp-picture{
        box-shadow: var(--btn-shadow);
    }
   
}

@media screen and (max-width:360px){
button {
        padding: var(--spacing);
    }
}


@media  screen and (max-width:260px) {
    .logo-container{
        display: none;
        
    }
    header{
        flex-wrap: wrap;
        justify-content: center;
        /* height: fit-content; */
        max-height: -moz-max-content;
        max-height: max-content;
    }

   img{
    width: 25px;
   }


 
}